<h3>Quandl</h3>

Your auth token can be found by going into your Quandl account. You can pull something like 50 free pulls per IP address, but, if you make a free account, you can pull some massive amount of requests, so I suggest you just make an account with Quandl.
<hr>
The token is read by running (security reason a separate Python program) "<b>read_token</b>" and store the content into a separate variable <b>auth_tok</b>

In [3]:
%run read_token.ipynb

In [4]:
import pandas as pd
import os
import quandl
import time

data = quandl.get("EURONEXT/KBC", trim_start = "2018-01-01", trim_end = "2019-01-25", authtoken=auth_tok)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
data.head()

             Open   High    Low   Last    Volume     Turnover
Date
2018-01-02  71.60  71.64  70.36  71.00  529778.0  37527143.10
2018-01-03  71.34  71.56  70.86  71.26  521054.0  37084008.34
2018-01-04  71.80  73.18  71.60  72.72  891908.0  64788826.24
2018-01-05  73.00  73.62  72.82  73.40  704074.0  51604701.10
2018-01-08  73.62  73.92  72.94  72.94  775004.0  56775598.96